#main {
  position: inherit;
}

.v-application {
  font-family: Lato;
}
.col{
    padding:0;
}

.v-data-table .v-data-table__wrapper {
  .v-data-table-header {
    background-color: #eff2f7;
    tr th span {
      font-size: 16px;
      color: #47525e;
    }
  }
}
