<template>
  <div class="login-layout">
    <div class="login-background"></div>
    
    <v-row justify="center">
      <v-col cols="10" md="8">
        <v-card
          class="pa-6 login-panel "
          style="background-color: #FFC107;"
          tile>
          <img class="panel-logo" src="@img/logo.png" alt="">
          <div class="panel-title">SFTM Tracking</div>
          <v-form>
            <div class="text-input">
              <input value="" placeholder="Account">
              <div class="error-message">error</div>
            </div>
            <div class="text-input">
              <input value="" placeholder="Password">
              <div class="error-message">error</div>
            </div>
            <v-btn block class="button" @click="login">
              Login
            </v-btn>
          </v-form>
          <div class="terms">Terms and Conditions</div>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  methods:{
    login(){
      
      this.$router.push('/search')
    }
  }
}
</script>

<style lang='scss' scoped>
.login-layout{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  .login-background {
      z-index:0;
      position: absolute;
      top:0;
      width: 100%;
      height: 100%;
      background: url(~@img/background.png);
      background-position: center;
      background-attachment: fixed;
      opacity:0.7;
      background-repeat: no-repeat;
      background-size: cover;
      ;
  }

  .login-panel {    
    max-width: 600px;
    max-height: 526px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .panel-logo {
      width: 288px;
      margin-bottom: 1rem;
    }
    .panel-title {
      color: #47525E;
      font-family: Lato;
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .text-input {
      margin-bottom: 1rem;
      input {
        background-color: #FFFFFF;
        border: 1px solid #8492A6;
        border-radius: 5px;
        width: 287px;
        height: 50px;
        padding: 10px;
      }
      .error-message {
        padding: 0 5px;
        color: red;
        display: none;
        &.show { display: block; }
      }
    }

    .v-form > .button {
      background-color: #2B3990;
      border-radius: 5px;
      width: 288px;
      height: 50px;
      color: #FFFFFF;
      font-family: Lato;
      font-size: 18px;
      line-height: 50px;
      width: 288px;
    }

    .terms {
      color: #8190A5;
      font-family: Lato;
      font-size: 18px;
      line-height: 28px;
      width: 369px;
      text-align: center;
      text-decoration: underline;
      padding: 2rem 0 3rem;
    }
  }
}


</style>