<template>
  <div class="search" :class="{ 'is-mobile': isMobile }">
    <div class="text-title" :class="{ 'is-mobile': isMobile }">
      Start to track your business
    </div>
    <div class="text-des" :class="{ 'is-mobile': isMobile }">
      Logistics visualization with one number
    </div>
    <SearchBar
      :isMobile="isMobile"
      :selectItems="selectItems"
      :itemsLength="items.length"
      @search-clicked="searchRequest($event)"
    />

    <DataDisplay
     :isMobile="isMobile"
     :items="items"

    />

 
  </div>
</template>

<script>
import SearchBar from "../components/SearchBar.vue";
import DataDisplay from "../components/DataDisplay.vue"

export default {
  name: "Home",
  components: {
    SearchBar,
    DataDisplay
  },

  data() {
    return {
      isMobile: false,
      searchValue: "",
      items: [],
      mapUrl: "../assets/images/map.png",
     
    };
  },

  computed: {
    selectItems: () => {
      return [
        {
          label: "no.1",
          key: "no.1",
          value: "value-1",
          lat: -34.397,
          lng: 150.644,
        },
        {
          label: "no.2",
          key: "no.2",
          value: "value-2",
          lat: -34.397,
          lng: 150.644,
        },
        {
          label: "no.3",
          key: "no.3",
          value: "value-3",
          lat: -34.397,
          lng: 150.644,
        },
        {
          label: "no.4",
          key: "no.4",
          value: "value-4",
          lat: -34.397,
          lng: 150.644,
        },
        {
          label: "no.5",
          key: "no.5",
          value: "value-5",
          lat: -34.397,
          lng: 150.644,
        },
      ];
    },
    fakeItems: () => [
      {
        status: "In-Transit",
        shipRef: "20200908",
        container: "UETU5781000",
        orderNo: "CST200904",
        partsNo: "51031-36021-00",
        download: "BZ-03067.xls",
      },
      {
        status: "In-Transit",
        shipRef: "20200912",
        container: "UETU5781000",
        orderNo: "CST200904",
        partsNo: "51031-36021-00",
        download: "BZ-03067.xls",
      },
    ],
    // computed裡面不能亂用箭頭函數！！有this的時候會出錯
    // itemsForMobile(){
    //   return this.items.map(item=>{
    //     return {...item, download:null}
    //   })
    // },
    //刪除header的最後一項
    
  },

  methods: {
    searchRequest(val) {
      this.searchValue = val;
      console.log("Search request, data:", this.searchValue);
      if (this.searchValue) {
        this.items = this.fakeItems;
      }
    },
  },

  mounted() {
    //需要裝置測試
    const mobileWidth = 960;
    this.isMobile = window.innerWidth < mobileWidth;
    window.addEventListener("resize", (e) => {
      this.isMobile = e.target.innerWidth < mobileWidth;
      console.log(e.target.innerWidth);
      console.log(this.isMobile);
    });
  },
};
</script>

<style scoped lang="scss">
.search {
  //解決RWD寬度問題
  max-width: 100vw;
  padding: 0 76px 100px;
  &.is-mobile {
    margin: 50px auto 0;
    padding: 0px 25px 0px;
  }

  .text-title {
    color: #47525e;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    margin: 149px 0 50px;
    &.is-mobile {
      margin: 0px 0px 50px;
      text-align: center;
    }
  }

  .text-des {
    color: #8190a5;
    font-size: 18px;
    margin: 80px 0 50px;
    &.is-mobile {
      display: none;
    }
  }

  .input-container {
    max-width: 1020px;
    &.is-mobile {
      max-width: 100%;
    }
    .text-input {
      width: 100%;
      input {
        background-color: #ffffff;
        border: 1px solid #8492a6;
        border-radius: 5px;
        width: 100%;
        height: 50px;
        padding: 10px;
      }
    }
    .button {
      background-color: #2b3990;
      color: white;
      border-radius: 5px;
      width: 192px;
      height: 50px;
      &.hasResults {
        background-color: #969faa;
      }
    }
  }
}

</style>
