<template>
  <div>
    <div class="data-container" :class="{ 'is-mobile': isMobile }">
      <div class="data-table" v-if="items.length">
        <v-row>
          <v-col class="results" cols="12"> {{ items.length }} Results </v-col>
        </v-row>
        <v-data-table
          :headers="isMobile ? headersForMobile : tableHeaders"
          :items="items"
          class="elevation-1"
          hide-default-footer
          item-key="shipRef"
          disable-sort
          mobile-breakpoint="0"
          @click:row="getMap"
        >
          <template slot="item.index" slot-scope="i">
            <td>{{ i.index + 1 }}</td>
          </template>
        </v-data-table>
      </div>
      <div class="transit-container" v-if="hasMap">
        <v-row>
          <v-col cols="12" sm="6">
            <div class="timeline">
              <div class="timeline-header">
                <div class="header-text">
                  <div>ORIG</div>
                  <div>名古屋</div>
                </div>
                <div class="in">In-Transit</div>
                <div class="header-text">
                  <div>DEST</div>
                  <div>新興鎮</div>
                </div>
              </div>
              <div class="timeline-table" :class="{ 'is-mobile': isMobile }">
                <v-row>
                  <v-col></v-col>
                  <v-col cols="4" class="table-head">Waypoint</v-col>
                  <v-col cols="6" class="table-head">Planned/ Acutal</v-col>
                </v-row>
                <v-row class="" v-for="(loc, idx) in locationItems" :key="idx">
                  <v-col cols="2">
                    <div class="dot-wrap">
                      <div class="dot" :class="{ at: loc.at }"></div>
                    </div>
                  </v-col>
                  <v-col cols="4" class="table-text location">{{
                    loc.location
                  }}</v-col>
                  <v-col
                    cols="6"
                    class="table-text time"
                    :class="{ at: loc.at }"
                    >{{ loc.time }}
                  </v-col>
                </v-row>
              </div>
            </div>
          </v-col>
          <v-col cols="12" sm="6">
            <div class="map-img" :class="{ 'is-mobile': isMobile }">
              <!-- 編譯問題，造成:src無法讀取"../assets/images/map.png" -->
              <!-- <img src="../assets/images/map.png" alt="map" /> -->
              <GmapMap
              :center="{lat:25.105497, lng:121.597366}"
              :zoom="7"
              map-type-id="terrain"
              style="height: 508px">
              <GmapMarker
                :position="{ lat:25.105497, lng:121.597366 }"
                :clickable="true"
                :draggable="true" />
              <GmapMarker
                :position="{ lat:22.633333, lng:120.266670 }"
                :clickable="true"
                :draggable="true" />
            </GmapMap>
              <div class="locator">
                <span>2020-09-06 22:15</span>
                <img src="~@img/raster.png" alt="" />
              </div>
            </div>
          </v-col>
        </v-row>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({
    hasMap: false,
    locationItems: [
        {
          location: "名古屋港",
          time: "2020-09-06 12:30",
          at: false,
        },
        {
          location: "名古屋港",
          time: "2020-09-06 12:30",
          at: false,
        },
        {
          location: "名古屋港",
          time: "2020-09-06 12:30",
          at: true,
        },
        {
          location: "名古屋港",
          time: "2020-09-06 12:30",
          at: false,
        },
        {
          location: "名古屋港",
          time: "2020-09-06 12:30",
          at: false,
        },
        {
          location: "名古屋港",
          time: "2020-09-06 12:30",
          at: false,
        },
        {
          location: "名古屋港",
          time: "2020-09-06 12:30",
          at: false,
        },
        {
          location: "名古屋港",
          time: "2020-09-06 12:30",
          at: false,
        },
        {
          location: "名古屋港",
          time: "2020-09-06 12:30",
          at: false,
        },
      ],
  }),
  props: {
    items: Array,
    isMobile: Boolean,
  },
  computed: {
    tableHeaders: () => [
      {
        text: "#",
        align: "start",
        sortable: false,
        value: "index",
      },
      {
        text: "Status",
        value: "status",
      },
      {
        text: "Ship ref.",
        value: "shipRef",
      },
      {
        text: "Container",
        value: "container",
      },
      {
        text: "Order no.",
        value: "orderNo",
      },
      {
        text: "Parts no.",
        value: "partsNo",
      },
      {
        text: "Download",
        value: "download",
      },
    ],
    headersForMobile() {
      return this.tableHeaders.filter((a, idx) => {
        return !(this.tableHeaders.length - 1 === idx);
      });
    },
  },

  methods: {
    getMap(item, prop) {
      console.log("get map", item.shipRef);
      const { index } = prop;
      const tbs = document.getElementsByTagName("tbody");

      const trs = tbs[0].getElementsByTagName("tr");
      trs.forEach((tr, idx) => {
        tr.style.backgroundColor = idx === index ? "#FFC107" : "#fff";
      });
      this.hasMap = true;
    },
  },
};
</script>

<style scoped lang="scss">
.transit-container {
  margin-top: 30px;
  .timeline {
    width: 100%;
    .timeline-header {
      background-color: #ccc;
      width: 100%;
      min-height: 100px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .in {
        text-align: center;
        color: #fff;
        font-size: 24px;
        line-height: 50px;
        background-color: #77d353;
        border-radius: 10px;
        width: 200px;
        height: 50px;
      }
      .header-text div {
        &:first-child {
          color: #969faa;
          font-size: 16px;
          line-height: 20px;
        }
        &:last-child {
          color: #47525e;
          font-size: 24px;
          line-height: 31px;
        }
      }
    }
    .timeline-table {
      padding: 35px 20px 30px 40px;
      border: 1px solid #8492a6;
      max-height: 408px;
      overflow-y: scroll;
      &.is-mobile {
        max-height: 250px;
      }

      .dot-wrap {
        position: relative;
        height: 50px;
        &::before {
          content: "";
          display: block;
          width: 30px;
          height: 50px;
          position: absolute;
          left: -13px;
          top: -10px;
          border-right: 4px solid #77d353;
        }
        .dot {
          width: 29px;
          height: 29px;
          border-radius: 15px;
          border: 2px solid #77d353;
          background: #fff;
          position: absolute;

          &.at {
            background: #77d353;
          }
        }
      }
      .table-head {
        color: #969faa;
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 20px;
      }
      .table-text {
        color: #47525e;
        font-size: 20px;
        line-height: 31px;
        &.time {
          color: #969faa;
          &.at {
            color: #2b3990;
          }
        }
      }
    }
  }

  .map-img {
    position: relative;
    max-width: 100%;
    max-height: fit-content;
    img {
      width: 100%;
    }
    .locator {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      right: 50px;
      bottom: 30px;
      font-size: 16px;
      line-height: 20px;
      color: #fff;
      img {
        width: 50px;
      }
    }
  }
}
.data-container {
  max-width: 1040px;
  &.is-mobile {
    max-width: 100%;
  }
}

.results {
  color: #47525e;
  font-size: 26px;
  line-height: 33px;
  text-align: left;
  margin: 30px 0 50px 15px;
}
</style>
