<template>
  <div class="menu">
      <img src="~@img/logo.png" class="logo" @click="$router.push('/search')"></img>
      <ul v-if="!isMobile">
        <li
          v-for="(item,idx) in menuItems"
          :key="idx"
          @click="clickMenuItem(item)"                                   
          :class="{'current-route':$route.path===item.path}"
        >
        {{item.label}}</li>
      </ul>
     
            <v-menu offset-y v-if="isMobile">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  text
                  color="white"       
                  v-bind="attrs"
                  v-on="on"
                >
                 <v-icon x-large>mdi-menu</v-icon>
                </v-btn>
              </template>
              <v-list dense>
                <v-list-item-group
                >
                  <v-list-item
                    
                    color="orange darken-2"
                    v-for="(item, index) in menuItems"
                    :key="index"
                    @click="clickMenuItem(item)"
                  >
                    <v-list-item-title class="font-weight-black">{{ item.label }}</v-list-item-title>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-menu>
          
  </div>
</template>

<script>
  export default {
    props:{
      isMobile:{
        type:Boolean
      }
    },
    name: 'Menu',
    data: () => ({
      currentRoute:false
    }),
    computed:{
     menuItems(){
      return[
        {label:'Search', path:'/search'},
        {label:'Feedback', path:'/feedback'},
        {label:'Guide',path:'/guide'},
        {label:'T&C',path:'/tc'},
        {label:'Logout',path:'/login',callback:this.logout}
      ]
     } 
    },
  methods:{
    clickMenuItem(item){
      const{callback,path}=item
      this.currentRoute=this.$route.path===path
      if(!callback){
        this.$router.push(path)
      }else{
        callback(path)
      }      
    },
    logout(path){
      //清除使用者資訊再登出，異步函數
      console.log('clear user info')
      this.$router.push(path)
    }
  }
}
</script>

<style lang="scss" scoped>
.menu {
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFC107;
  height: 80px;
  padding: 0 10px 0 30px;
  position: inherit;
  img {
    width: 144px;
  }
  img:hover{
    cursor: pointer;
  }

  ul {
    list-style: none;
    display: flex;
    max-width:500px;
    overflow: hidden;
    padding-top:15px;
    margin-right:100px;
    li {
      margin-right: 2rem;
      color: #47525E;
      cursor: pointer;
      &:hover { color: #fff } 
      &.current-route{
        color:#fff
      }
     
    }
  }
}
.v-btn {
  width: 36px;
  min-width: 36px;
}
</style>
