<template lang="">
  <div>
    <div class="input-container" :class="{ 'is-mobile': isMobile }">
      <v-row>
        <v-col class="d-flex" cols="6" sm="4">
          <v-select
            placeholder="Reference"
            :items="selectItems"
            item-text="label"
            @change="selected"
            height="50"
            background-color="#fff"
            dense
            outlined
          ></v-select>
        </v-col>
        <v-col class="d-flex" cols="6" sm="4">
          <div class="text-input">
            <input type="text" placeholder="#" :value="textField" />
          </div>
        </v-col>
        <v-col class="d-flex" cols="12" sm="4">
          <v-btn
            class="button pa-0"
            @click="clickSearch"
            :class="{ hasResults: itemsLength }"
          >
            Search
          </v-btn>
        </v-col>
      </v-row>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      textField: "",
    };
  },
  props: {
    isMobile: {
      type: Boolean,
      required: true,
    },
    selectItems: {
      type: Array,
      required: true,
    },
    itemsLength: Number,
  },
  methods: {
    selected(value) {
      this.textField = value;
    },
    clickSearch() {
      this.$emit("search-clicked", this.textField);
    },
  },
};
</script>
<style scoped lang="scss">
.input-container {
  max-width: 1020px;
  &.is-mobile {
    max-width: 100%;
  }
  .text-input {
    width: 100%;
    input {
      background-color: #ffffff;
      border: 1px solid #8492a6;
      border-radius: 5px;
      width: 100%;
      height: 50px;
      padding: 10px;
    }
  }
  .button {
    background-color: #2b3990;
    color: white;
    border-radius: 5px;
    width: 192px;
    height: 50px;
    &.hasResults {
      background-color: #969faa;
    }
  }
}
</style>
