<template>
  <v-app>
  
      <div :class="{ background: !isLogin, 'is-mobile': isMobile }"></div>
      <Menu :isMobile="isMobile" v-if="!isLogin" />
      <router-view id="main" />
      <div class="footer-mt"></div>
      <div class="copy-right">
        
        <div>@2020 LOGFLOWS</div>
      </div>

  </v-app>
</template>

<script>
import Menu from "./components/Menu";

export default {
  name: "App",
  components: {
    Menu,
  },
  data: () => ({
    isMobile: false,
  }),
  computed: {
    isLogin() {
      return this.$route.path === "/login";
    },
  },
  mounted() {
    const mobileWidth = 960;
    this.isMobile = window.innerWidth < mobileWidth;
    window.addEventListener("resize", (e) => {
      this.isMobile = e.target.innerWidth < mobileWidth;
    });
  },
};
</script>

<style lang="scss">
* {
  font-family: Lato;
}
#main {
  z-index: 1;
}
.background {
  position: fixed;
  right: -350px;
  top: 130px;
  width: 90%;
  height: 90%;
  background: url(~@img/background.png);
  opacity: 0.2;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  &.is-mobile {
    width:auto;
    position: fixed;
    left:0;
    top:0;    
    background: url(~@img/background.png);
    opacity: 0.2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-y: hidden;
  }
}

.copy-right {
  width: 100%;
  height: 60px;
  display: flex;
  margin-top: 30px;
  position: absolute;
  display:block;
  bottom: 0;
  background-color: #e5ebfa;
  justify-content: center;
  z-index: 1;
  > div {
    line-height: 60px;
    text-align: center;
    margin: auto 0;
    color: #8190a5;
    font-size: 18px;
  }
}
.footer-mt{
  width: 100%;
  height:80px;
  background-color:transparent;
}
</style>
